*{
    padding: 50;
    margin: 0;
}


.mv{
    position:  relative;
    right: 420px;
}
input {
    width: 10rem;
    padding-left: 20px;
}
.entire {
    width: 25%;
    margin: auto;
    margin-top: 15rem;
}